h1{
    font-style: normal;
    font: bold;
    text-align: center;
}

p{
    text-align: center;
}

body{
    background-image: url('');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}